@import '../../index.scss';

.slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    filter: brightness(0.2);
}

.weather__header {
    color: $black;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
}

.img {
    width: 10px;
    height: 10px;
}

.container-img {
    display: flex;
}