@import '../../index.scss';

.weather {
    background: $white;
    margin: 20px auto 0;
    width: 700px;
}

.weather__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 1px;
    padding: 15px 0px 20px 0px;
    background: rgb(217, 240, 240);
}

.weather-item__week_day {
    @include font-text(12px, $black, 'Roboto');
}

.weather-item__date,
.weather-item__temp_day {
    @include font-text(20px, $black, 'Roboto');
}

.weather-item__temp_night {
    @include font-text(12px, $grey, 'Roboto');
}

.weather-item__weather_description {
    margin: 20px 0;
    @include font-text(13px, $grey, 'Roboto');
}

.weather-item-temp_day__text,
.weather-item__temp_night__text {
    display: flex;
    position: relative;
}

.weather-item-temp_day__img {
    width: 10px;
    height: 10px;

}

.weather-item__temp_night__img {
    width: 7px;
    height: 7px;
}