$black: rgb(32, 32, 32);
$grey:  rgb(71, 71, 71);
$white: #ffffff;

@mixin font-text ($font-size, $color, $font-family) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
}

body{
    margin: 0;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}


